extends __layout

append vars
  - var name = "Juan Andrés Gonzalez Trejo"

block head
  title #{name}
  link(rel="stylesheet" href="/css/style.css" type="text/css")

block body
  header
    h1
      a(href="/") #{name}
  section
    h2 <a href="https://potoy.github.io/Tesis/home.html">Computer Graphics Thesis</a>
    p.
      For my computer graphics thesis, I built a <a href="https://potoy.github.io/Tesis/home.html">
      WebGL app to graph implicit equations using volume rendering</a>. I did
      this as part of my 5-year Licentiate at UCV (Universidad Central de
      Venezuela).

    a(href="https://potoy.github.io/Tesis/home.html")
      img.center-img(src="/images/volme_example1.png"
        alt="volume rendering of implicit equations")

  section
    h2 More Projects Coming Soon
    p Please check back later, thanks!
  footer
    p
      | &copy; 2015 #{name}

block bodyscripts
  //- script(src="/js/jquery.js")
  //- script(src="/js/index.js")
