extends __layout

append vars
  - var name = "Juan Andrés Gonzalez Trejo"

block head
  title #{name}
  link(rel="stylesheet" href="/css/style.css" type="text/css")

block body
  header
    h1
      a(href="/") #{name}
  section
    h2 Tesis
    img.center-img(src="/images/volme_example1.png")
  section
    h2 Project 2
    p why
    p testing
  footer
    p
      &copy; 2014 #{name}

block bodyscripts
  //- script(src="/js/jquery.js")
  //- script(src="/js/index.js")
